@charset "UTF-8";
/* fichier comportant toutes imports pour regrouper le style de toutes les pages du site ohmyfood*/
/* Le repertoire base/ contient les fichiers qui définissent les fondations de votre site, 
par exemple la police de caractères et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing*/
/* import de la police Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap");
/* import de la police Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Appliquons la police à toute la page et */
body, html {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  min-width: 250px;
}

/* Définition la taille maximale et les marges automatiques */
.conteneur {
  min-width: 250px;
  max-width: 1280px;
  margin: auto;
  position: relative;
}

/* Fichier regroupant toutes les animations du site
    - Loader spinner: une animation qui ouvre la bouche et se referme pour engloutir des petites boules qui arrivent progressivement
    - menuApparition: une animation pour faire apparaitre les élements en faisant varier l'échelle
*/
/* Animation du loader spinner: loader
    - permettant de mettre l'animation sur un plan z au dessus du site 
    - et flouter l'arrrère plan
*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/* Animation du loader spinner :  loader-1
    - faire des rotations progressives de 0 à -45deg 
    pour apporter l'effet partie haute de la bouche ouverte pour le demi cercle 1
*/
@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Animation du loader spinner: loader-2
    - faire des rotations progressives de 180 à 225deg 
    pour apporter l'effet partie basse bouche ouverte pour le demi cercle 2
*/
@keyframes loader-2 {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* Animation du loader spinner
    - Déplacer chaque petit rond vers l'ouverture qui sert de bouche ouverte  
    - Rendre le rond flouté au départ et totalement opaque à la fin 
*/
@keyframes loader-3 {
  0% {
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(70px, 0);
    opacity: 1;
  }
}
/* Animation du menu
    - Faire apparaitre chaque element du menu en l'agrandissant de l'echelle 0 à 1
*/
@keyframes menuApparution {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menupartie {
  0% {
    transform: translateX(190px);
  }
  100% {
    transform: translateX(70px);
  }
}
/*le repertoire components/ est utilisé pour ranger les blocs BEM qui sont plus indépendants, comme les boutons.
*/
/*Le repertoire layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable,
 par exemple un header pour les mises en page de grande taille ou un footer ;*/
/*Le header est présent sur toutes les pages:
  - Sur la page d’accueil, il contient le logo du site.
  - Sur les pages de menu, il contient en plus un bouton de retour vers la page d’accueil*/
.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  min-width: 250px;
  /* Style header page Accueil*/
  /* Style header page Menu :logo */
  /* Style header page Menu : icon */
}
.header__icone {
  display: block;
  margin: auto;
  height: 50px;
}
@media (max-width: 830px) {
  .header__icone {
    height: 30px;
  }
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}
.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  /*Déplacer la flèche du centre vers la coté gauche */
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

/*Le repertoire layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable,
 par exemple un header pour les mises en page de grande taille ou un footer ;*/
/*Notre footer est contitué de : 
  - quatre liens
  - les deux premiers sont précédés d'un logo 

Quelques précisions:
  - Le footer est identique sur toutes les pages.
  - Au clic sur “Contact”, un renvoi vers une adresse mail est effectué.

Style:
  - backgound: gris foncé 
  - police couleur blanche 
  - backgound des logo blanc*/
.conteneur {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.footer {
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 250px;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  text-decoration: none;
  /*au survol: les liens sont surlignés */
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}
.footer__text {
  font-weight: bold;
}
@media (max-width: 1280px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*Le repertoire layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable,
 par exemple un header pour les mises en page de grande taille ou un footer ;*/
/* Style de la Page d'accueil*/
/* animation de chargement de la page */
.loadingEating {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  display: inline-block;
  /*overflow: hidden;*/
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
}

.loader {
  width: 100%;
  height: 100%;
  top: 300px;
  left: 40%;
  z-index: 100;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loader__child1 {
  box-sizing: content-box;
  display: block;
}
.loader__child1Child {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF79DA;
  animation: loader-3 1s linear infinite;
}
.loader__child1--1 {
  animation-delay: -0.67s;
  background: #99E2D0;
}
.loader__child1--2 {
  animation-delay: -0.33s;
  background: #FF79DA;
}
.loader__child1--3 {
  animation-delay: 0s;
  background: #9356DC;
}
.loader__child2 {
  transform: translate(-15px, 0);
}
.loader__child2Child {
  /* Creer un demi cercle*/
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #9356DC;
  animation: loader-1 1s linear infinite;
  transform-origin: 60px 60px;
}
.loader__child2--2 {
  animation: loader-2 1s linear infinite;
}
.loader__child2--3 {
  transform: rotate(-90deg);
  animation: none;
}
@media (max-width: 830px) {
  .loader {
    left: 30%;
  }
}

/* Zone de localisation */
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1rem;
  background-color: #F2F2F2;
  font-size: 1.2rem;
  position: relative;
  min-width: 250px;
}
.input__icon {
  display: flex;
  margin-right: 1rem;
  width: 20px;
  justify-content: center;
  align-content: center;
}
.input__text {
  font-weight: 900;
  background-color: #F2F2F2;
  padding: 0.25rem 0.25rem;
  font-size: 1.2rem;
  border: none;
  max-width: 50%;
  min-width: 25%;
}
.input__text:hover {
  background-color: white;
  border: none;
  text-align: center;
}
.input__text:focus {
  border: 0.5px solid black;
}
@media (max-width: 600px) {
  .input__text {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    min-width: 50px;
  }
}

.objectif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  background-color: #fafafa;
}
.objectif__titre1 {
  font-weight: 900;
  text-align: center;
}
.objectif__titre2 {
  font-weight: 300;
  margin-top: 1.5rem;
  text-align: center;
}
.objectif__bouton {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background: linear-gradient(0deg, #9356DC 25%, #FF79DA 75%);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition: background 0.5s, box-shadow 0.5s;
  margin-bottom: 20px;
}
.objectif__bouton button {
  text-decoration: none;
  color: inherit;
}
.objectif__bouton:hover {
  background: linear-gradient(0deg, #a16be0 25%, #ff93e1 75%);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.objectif__bouton:active {
  background: #541f94;
}
@media (max-width: 285px) {
  .objectif {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 270px;
  }
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}
.process__titre {
  font-weight: bold;
}
.process__etapes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 90%;
  counter-reset: compteListe;
}
@media (max-width: 830px) {
  .process__etapes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 85%;
  }
}
.process__etape {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  background-color: #F2F2F2;
  width: 25%;
}
.process__etape::before {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  transform: translateX(-10px);
}
@media (max-width: 830px) {
  .process__etape {
    width: 100%;
    margin-bottom: 20px;
  }
}
.process__icon {
  color: gray;
  padding-right: 20px;
  padding-left: 20px;
}
.process__texte {
  color: black;
  font-weight: 700;
}

.restaurants {
  background-color: #F2F2F2;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 30px;
}
.restaurants__titre {
  font-weight: 800;
}
@media (max-width: 830px) {
  .restaurants {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cartes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: #F2F2F2;
}
@media (max-width: 830px) {
  .cartes {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
}

.carte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
  position: relative;
  width: 40%;
}
.carte__image {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  border: transparent solid 0px;
}
.carte__badge {
  background-color: #99E2D0;
  color: black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.carte__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  padding: 0px 20px 20px 20px;
}
.carte__icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  border: transparent 0px solid;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.carte__icon--solid {
  transition-duration: 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.carte__icon--solid:hover {
  opacity: 1;
}
.carte__icon--regular {
  transition-duration: 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent 0px solid;
  justify-content: center;
  opacity: 1;
}
.carte__icon--regular:hover {
  opacity: 0;
  display: none;
}
@media (max-width: 830px) {
  .carte {
    width: 90%;
  }
}

/* Style des Pages Menu des 4 restaurants */
/* mettre une image comme couverture de la page */
.imageBarnière {
  max-width: 100%;
  min-width: 280px;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

/* */
.unecarte {
  margin-top: -6rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* animer les coeurs en remplissant avec un gradient qui apparait au survol */
}
.unecarte__header {
  padding: 1rem 2rem 0 1rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.unecarte__title {
  font-family: Shrikhand, "cursive";
}
.unecarte__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.unecarte__like {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* coeur avec background */
  /* coeur sans background */
}
.unecarte__like--solid {
  background: -webkit-linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.unecarte__like--solid:hover {
  opacity: 1;
}
.unecarte__like--regular {
  opacity: 1;
}
.unecarte__like--regular:hover {
  opacity: 0;
}

.unMenuComplet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
  /*NE pas centrer sinon le menu la note enchantée est décalée*/
  width: 100%;
}
@media (max-width: 900px) {
  .unMenuComplet {
    flex-direction: column;
    width: 100%;
  }
}

.unMenuPartie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  animation: menupartie 1s linear;
}
.unMenuPartie__titre {
  text-transform: uppercase;
  text-align: center;
}
.unMenuPartie__description {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  padding: 20px;
}
@media (max-width: 900px) {
  .unMenuPartie__description {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
}
@media (max-width: 900px) {
  .unMenuPartie {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
}

.delay-1 {
  animation-delay: 0.05s;
}

.delay-2 {
  animation-delay: 0.1s;
}

.menu {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: menuApparution 0.5s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  width: 100%;
}
.menu__entete {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menu__titre {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__detail {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__prix {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 0.5rem;
}
.menu__check {
  background-color: #99E2D0;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menu:hover .menu__check {
  margin-right: -1rem;
}
.menu__icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menu:hover .menu__icon {
  transform: rotate(0);
}
.menu__iconcheck {
  color: #99E2D0;
}

.boutonConteneur {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.boutonCommander {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background: linear-gradient(0deg, #9356DC 25%, #FF79DA 75%);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition: background 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.boutonCommander button {
  text-decoration: none;
  color: inherit;
}
.boutonCommander:hover {
  background: linear-gradient(0deg, #a16be0 25%, #ff93e1 75%);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.boutonCommander:active {
  background: #541f94;
}

/*# sourceMappingURL=style.css.map */
