<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9af6369aee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css">

    <!-- Primary Meta Tags -->
    <link rel="icon" href="./images/logo/ohmyfood.png" />
    <title>Restaurant - A la française - Ohmyfood</title>
    <meta name="title" content="Restaurant - A la française - Ohmyfood!">

    <meta name="description" content="Ohmyfood! est une entreprise de commande de repas en ligne. Notre concept permet aux
    utilisateurs de composer leur propre menu et réduire leur temps d’attente dans les
    restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la carte!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nlkennengounou.github.io/KenneNgounouNellyLaure_3_07102021/">
    <meta property="og:title" content="Restaurant - A la française - Ohmyfood">
    <meta property="og:description" content="Ohmyfood! est une entreprise de commande de repas en ligne. Notre concept permet aux
    utilisateurs de composer leur propre menu et réduire leur temps d’attente dans les
    restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la carte!">
    <meta property="og:image" content="./images/logo/ohmyfood.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nlkennengounou.github.io/KenneNgounouNellyLaure_3_07102021/">
    <meta property="twitter:title" content="Restaurant - A la française - Ohmyfood">
    <meta property="twitter:description" content="Ohmyfood! est une entreprise de commande de repas en ligne. Notre concept permet aux
    utilisateurs de composer leur propre menu et réduire leur temps d’attente dans les
    restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la carte!">
    <meta property="twitter:image" content="./images/logo/ohmyfood.png">

</head>
<body>
    <header class="header">
        <div class="contain">
            <a href="../../index.html">
                <i class="fas fa-arrow-left header__icon"></i>
            </a>
            <h1 class="header__logo">ohmyfood</h1>
        </div>
    </header>

    <div>
        <img class="imageBarnière" src="../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="">
    </div>

    <main class="conteneur">

        <div class="unecarte">
            <div class="unecarte__header">
                <h2 class="unecarte__title">À la française</h2>
                <button class="unecarte__btn">
                  <i class="unecarte__like unecarte__like--regular far fa-heart fa-2x"></i>
                  <i class="unecarte__like unecarte__like--solid fas fa-heart fa-2x"></i>
                </button>
            </div>
      
            <div class="unMenuComplet">

                <div class="unMenuPartie">
                    <h3 class="unMenuPartie__titre">ENTREES</h3>
                    <div class="unMenuPartie__description"> 
                        <div class="menu">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Tartare de poulpe acidulé</h4>
                                <p class="menu__detail">Aux zestes d'orange</p>
                            </div>
                            <div class="menu__prix">25€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu">
                            <div class="menu__entete">   
                                <h4 class="menu__titre">Velouté de légumes d'antan</h4>
                                <p class="menu__detail">Carotte, panais, topinambour</p>
                            </div>
                            <div class="menu__prix">35€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu">
                            <div class="menu__entete">   
                                <h4 class="menu__titre">Soupe à l'oignon</h4>
                                <p class="menu__detail">Revisitée</p>
                            </div>
                            <div class="menu__prix">20€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="unMenuPartie">
                    <h3 class="unMenuPartie__titre">PLATS</h3>
                    <div class="unMenuPartie__description"> 
                        <div class="menu">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Coquilles Saint-Jacques</h4>
                                <p class="menu__detail">Accompagnées d'une purée de panais</p>
                            </div>
                            <div class="menu__prix">40€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Magret de canard</h4>
                                <p class="menu__detail">Et parmentier de pommes de terre</p>
                            </div>
                            <div class="menu__prix">35€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div  class="menu">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Pigeonneau d’Ille-et-Vilaine</h4>
                                <p class="menu__detail">Sur son lit de gnocchis aux légumes</p>
                            </div>
                            <div class="menu__prix">44€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="unMenuPartie">
                    <h3 class="unMenuPartie__titre">DESSERTS</h3>
                    <div class="unMenuPartie__description">
                        <div class="menu">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Pétales de violettes glacés</h4>
                                <p class="menu__detail">Et purée de noisettes</p>
                            </div>
                            <div class="menu__prix">18€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Fondant au chocolat</h4>
                                <p class="menu__detail">Revisité</p>
                            </div>
                            <div class="menu__prix">22€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Millefeuille croustillant</h4>
                                <p class="menu__detail">Myrtilles et pâte d’amande</p>
                           </div>
                           <div class="menu__prix">23€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>

            <div class="boutonConteneur">
                <button class="boutonCommander">Commander</button>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="conteneur"> 
            <div class="footer__logo">
            <p>Ohmyfood</p>
            </div>
        
            <div>
                <a class="footer__link" href="#">
                    <i class="footer__icon fas fa-utensils"></i>
                    <p class="footer__text">proposer un restaurant</p>
                </a>
        
                <a class="footer__link" href="#">
                    <i class="footer__icon fas fa-hands-helping"> </i>
                    <p class="footer__text">Devenir partenaire</p>
                </a>
        
                <a class="footer__link" href="#">
                <p class="footer__text">Mentions légales</p>
                </a>
                <a class="footer__link" href="mailto:contact@ohmyfood.com">
                <p class="footer__text">Contact</p>
                </a>
            </div>
        </div>
    
      </footer>

</body>
</html>
