<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9af6369aee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css">

    <!-- Primary Meta Tags -->
    <link rel="icon" href="./images/logo/ohmyfood.png" />
    <title>Restaurant - Le délice des sens - Ohmyfood</title>
    <meta name="title" content="Restaurant - Le délice des sens - Ohmyfood!">

    <meta name="description" content="Ohmyfood! est une entreprise de commande de repas en ligne. Notre concept permet aux
    utilisateurs de composer leur propre menu et réduire leur temps d’attente dans les
    restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la carte!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nlkennengounou.github.io/KenneNgounouNellyLaure_3_07102021/">
    <meta property="og:title" content="Restaurant - Le délice des sens - Ohmyfood">
    <meta property="og:description" content="Ohmyfood! est une entreprise de commande de repas en ligne. Notre concept permet aux
    utilisateurs de composer leur propre menu et réduire leur temps d’attente dans les
    restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la carte!">
    <meta property="og:image" content="./images/logo/ohmyfood.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nlkennengounou.github.io/KenneNgounouNellyLaure_3_07102021/">
    <meta property="twitter:title" content="Restaurant - Le délice des sens - Ohmyfood">
    <meta property="twitter:description" content="Ohmyfood! est une entreprise de commande de repas en ligne. Notre concept permet aux
    utilisateurs de composer leur propre menu et réduire leur temps d’attente dans les
    restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la carte!">
    <meta property="twitter:image" content="./images/logo/ohmyfood.png">

</head>
<body>
    <header class="header">
        <div class="contain">
            <a href="../../index.html">
                <i class="fas fa-arrow-left header__icon"></i>
            </a>
            <h1 class="header__logo">ohmyfood</h1>
        </div>
    </header>

    <div>
        <img class="imageBarnière" src="../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="">
    </div>

    <main class="conteneur">
        <div class="unecarte">
            <div class="unecarte__header">
                <h2 class="unecarte__title">Le delice des sens</h2>
                <button class="unecarte__btn">
                  <i class="unecarte__like unecarte__like--regular far fa-heart fa-2x"></i>
                  <i class="unecarte__like unecarte__like--solid fas fa-heart fa-2x"></i>
                </button>
            </div>

            <div class="unMenuComplet">

                <div class="unMenuPartie delay-1">
                    <h3 class="unMenuPartie__titre">ENTREES</h3>
                    <div class="unMenuPartie__description"> 
                        <div class="menu delai-0">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Tartare de thon</h4>
                                <p class="menu__detail">Assaisonné au yuzu</p>
                            </div>
                            <div class="menu__prix">25€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu delai-1">
                            <div class="menu__entete">   
                                <h4 class="menu__titre">Bouchée de homard croustillant</h4>
                                <p class="menu__detail">Et sa farandole de petits légumes</p>
                            </div>
                            <div class="menu__prix">35€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu delai-2">
                            <div class="menu__entete">   
                                <h4 class="menu__titre">Velouté de cèpes</h4>
                                <p class="menu__detail">Aux truffes</p>
                            </div>
                            <div class="menu__prix">20€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="unMenuPartie delay-2">
                    <h3 class="unMenuPartie__titre">PLATS</h3>
                    <div class="unMenuPartie__description"> 
                        <div class="menu delai-3">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Poulet rôti aux herbes de Provence</h4>
                                <p class="menu__detail">Et sa crème de truffe</p>
                            </div>
                            <div class="menu__prix">40€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu delai-4">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Langouste rôtie</h4>
                                <p class="menu__detail">Et ses légumes de saison</p>
                            </div>
                            <div class="menu__prix">35€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div  class="menu delai-5">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Côte de boeuf Angus</h4>
                                <p class="menu__detail">Et sa purée de panais</p>
                            </div>
                            <div class="menu__prix">44€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="unMenuPartie delay-3">
                    <h3 class="unMenuPartie__titre">DESSERTS</h3>
                    <div class="unMenuPartie__description">
                        <div class="menu delai-6">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Farandole de desserts</h4>
                                <p class="menu__detail">Du chef</p>
                            </div>
                            <div class="menu__prix">18€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu delai-7">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Crème brulée</h4>
                                <p class="menu__detail">Revisitée</p>
                            </div>
                            <div class="menu__prix">22€</div>
                            <div class="menu__check">
                                <div class="menu__icon">
                                    <i class="menu__iconcheck fas fa-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="menu delai-8">
                            <div class="menu__entete">
                                <h4 class="menu__titre">Tiramisu</h4>
                                <p class="menu__detail">À la noisette</p>
                           </div>
                           <div class="menu__prix">23€</div>
                           <div class="menu__check">
                            <div class="menu__icon">
                                <i class="menu__iconcheck fas fa-check"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                
                </div>
            </div>

            <div class="boutonConteneur">
                <button class="boutonCommander">Commander</button>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="conteneur"> 
            <div class="footer__logo">
            <p>Ohmyfood</p>
            </div>
        
            <div>
                <a class="footer__link" href="#">
                    <i class="footer__icon fas fa-utensils"></i>
                    <p class="footer__text">proposer un restaurant</p>
                </a>
        
                <a class="footer__link" href="#">
                    <i class="footer__icon fas fa-hands-helping"> </i>
                    <p class="footer__text">Devenir partenaire</p>
                </a>
        
                <a class="footer__link" href="#">
                <p class="footer__text">Mentions légales</p>
                </a>
                <a class="footer__link" href="mailto:contact@ohmyfood.com">
                <p class="footer__text">Contact</p>
                </a>
            </div>
        </div>
    
      </footer>

</body>
</html>
