@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    &__wave{
        width: 5px;
        height: 100px;
        background: linear-gradient(45deg, $couleur-primaire, $couleur-secondaire);
        margin: 10px;
        animation: wave 1s linear infinite;
        border-radius: 20px;

        &:nth-child(2) {
        animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
        &:nth-child(4) {
            animation-delay: 0.3s;
        }
        &:nth-child(5) {
            animation-delay: 0.4s;
        }
        &:nth-child(6) {
            animation-delay: 0.5s;
        }
        &:nth-child(7) {
            animation-delay: 0.6s;
        }
        &:nth-child(8) {
            animation-delay: 0.7s;
        }
        &:nth-child(9) {
            animation-delay: 0.8s;
        }
        &:nth-child(10) {
            animation-delay: 0.9s;
        }
          
    }

}
 
@keyframes loader__wave {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(0);
    }
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem $normal-padding;
    background-color: $couleur-bg;
    font-size: 1.2rem;
    position: relative;

    &__icon {
        display: flex;
        margin-right: 1rem;
        width: 20px;
        justify-content: center;
        align-content: center;
    }
  
    &__text {
        font-weight: 900;
        background-color: $couleur-bg;
        padding: 0.25rem 0.25rem;
        font-size: 1.2rem;
        border: none;
        max-width: 50%;
        min-width: 25%;
        &:hover {
            background-color: white;
            border: none;
            text-align: center;
        }

        &:focus{
            border: 0.5px solid black;
        }

        @media (max-width:600px) {
            display: flex;
            justify-content: space-around;
            max-width: 70%;
            min-width: 50;
        }

    }

  }


.objectif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background-color: rgb(250, 250, 250);


    &__titre1{
        font-weight: 900;
        text-align: center;
    }

    &__titre2{
        font-weight: 300;
        margin-top: 1.5rem;
        text-align: center;
    }

    &__bouton{
        @include button();
        margin-bottom: 20px;
    }

}

.process{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;

    &__titre{
        font-weight: bold;
    }

    &__etapes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 90%;
        counter-reset: compteListe;

        @media (max-width:830px) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            width: 85%;
        }
    }

    &__etape{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
        border-radius: $normal-padding;
        background-color: $couleur-bg;
        width: 25%;

        &::before {
            display: flex;
            justify-content: center;
            align-items: center;
    
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
    
            background: $couleur-primaire;
            color: white;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            transform: translateX(-10px)
        }
        @media (max-width:830px) {
            width: 100%;
            margin-bottom: 20px;
        }
       
    }

    &__icon{
        color: gray;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__texte{
        color: black;
        font-weight: 700;
    }

}

.restaurants{
    background-color: $couleur-bg;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 30px;

    &__titre{
        font-weight: 800;
    }
}

.cartes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 50px;
   
    background-color: $couleur-bg; 
    @media (max-width:830px) {
        display: flex; 
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }
}


.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 40px;

    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;

    position: relative;

    width:40%;

    &__image{
        object-fit: cover;        
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        border: transparent solid 0px;
    }

    &__badge{
        background-color: $couleur-tertiaire;
        color: darken($couleur-tertiaire, 90%);
        
        border-radius: 5px;
        padding: 5px;

        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__description{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        position:relative;

        border-radius:  0px 0px 20px 20px;
        padding:  0px 20px 20px 20px;
    }

    &__titres{
       
    }

    &__titre1{

    }
    
    &__titre2{

    }
    
    &__icon{

        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items:flex-start;
        justify-content:center;

        background-color: transparent;
        border: transparent 0px solid;

        margin-top: 20px;
        width: 40px;
        height: 40px;

        position: absolute;
        top:0;
        right: 0;
        cursor: pointer;

        &--solid{
            transition-duration: .25s;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display:flex;
            align-items:center;
            justify-content:center;

            background: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            &:hover{
               opacity: 1;
            }
        }

        &--regular {
            transition-duration: .25s;

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display:flex;
            align-items:center;
            background-color: transparent;
            border: transparent 0px solid;  
            justify-content:center;
            opacity: 1;

            &:hover{
                opacity: 0; 
                display: none
                
            }
            
        }


    }

     @media (max-width:830px) {
        width:90%;
    }
     
}